/* Estilos Globais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 100%;
    max-width: 900px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

header {
    margin-bottom: 20px;
}

h1 {
    margin: 0;
    font-size: 28px;
    color: #ffffff;
    animation: slideIn 1s ease-out;
}

p {
    color: #b0b0b0;
    font-size: 18px;
    animation: fadeIn 1s ease-in-out;
}

main {
    margin-bottom: 20px;
}

.projects {
    text-align: center;
}

.project-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.project-list li {
    margin-bottom: 20px;
}

.project-card {
    background-color: #333;
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    animation: fadeIn 0.5s ease-in-out;
}

.project-card h2 a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.project-card h2 a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.project-card p {
    margin: 5px 0;
}

footer {
    margin-top: 20px;
    font-size: 14px;
}

footer p {
    margin: 0;
}

/* Efeitos e Animações */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

/* Responsividade */
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 24px;
    }

    .project-card {
        padding: 15px;
    }
}
